html {
  font-family: sans-serif;
  background-color: #fbfbfb;
}

body {
  background-color: #fbfbfb;
}

.row.small-gutters {
  margin-right: -10px;
  margin-left: -10px;
}
.row.small-gutters > [class^="col-"],
.row.small-gutters > [class*=" col-"] {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.row.small-gutters > [class^="col-"]:nth-child(odd) .square,
.row.small-gutters > [class*=" col-"]:nth-child(odd) .square {
  background-color: #f4f4f4;
}

.row.small-gutters > [class^="col-"]:nth-child(even) .square,
.row.small-gutters > [class*=" col-"]:nth-child(even) .square {
  background-color: #e8e8e8;
}

.square {
  box-sizing: border-box;
  padding-bottom: 100%;
}

.fullcontent {
  padding: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.circlebtn {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-style: solid;
  border-color: #2a86c1;
  border-radius: 100%;
  border-width: 15px;

  cursor: pointer;
}

@media (max-width: 992px) {
  .circlebtn {
    border-width: 8px;
  }
}

.deviceActivityContainer {
  position: relative;
}

.deviceActivity {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 25%;
  margin: 0;

  text-align: center;
  font-family: sans-serif;
  /* font-weight: bold; */
  color: #6f6f6f;
  font-size: 14px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .deviceActivity {
    font-size: 16px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .deviceActivity {
    font-size: 14px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .deviceActivity {
    font-size: 18px;
  }
}

.activityLabel {
  display: block;
}

@media (max-width: 440px) {
  .activityLabel {
    display: none;
  }
}

.activityTime {
  color: #c92a41;
}

.activityNumber {
  width: 100%;
  text-align: center;
  vertical-align: top;
  font-size: 40px;
  color: #257985;
  line-height: 0;
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 440px) {
  .activityNumber {
  font-size: 30px;
  }
}

@media (min-width: 576px) {
  .activityNumber {
    font-size: 50px;
  }
}

#successAlert, #failedAlert {
  position: fixed;
  width: 90%;
  bottom: 1%;
  left: 5%;
}

.mainLabel {
	font-size: 20px;
    color: #6d6c6b;
    text-align: center;
}
