{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap dependencies -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>    <!-- End Bootstrap dependencies -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- custom styling -->
    <!-- Bootstrap dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>

  </head>
  <body>
    <header id="navbar" class="navbar navbar-expand-md navbar-dark bg-dark mb-5">
      <div class="container-fluid">
        <a class="navbar-brand pt-0" href="{% url 'home' %}">Home Controller</a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100" id="collapsingNavbar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link text-important" href="#">Doors</a></li>
            <li class="nav-item"><a class="nav-link text-important" href="#">Sensors</a></li>
          </ul>
        </div> -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><button type="button" class="btn btn-info" onclick="">Login</button></li>
        </ul>
      </div>
    </header>

    <div class="container">
      <div class="row small-gutters">
        {% block main-content %}
        {% endblock %}
      </div>
    </div>

    <div id="successAlert" class="alert alert-success collapse">
      <strong>Success:</strong> Door opened.
    </div>
    
    <div id="failedAlert" class="alert alert-danger collapse">
      <strong>Failed:</strong> Door couldn't be opened.
    </div>

  </body>
</html>
